:root,
page {
    // 主色调
    --nut-primary-color: #fa2c19;
    --nut-primary-color-end: #fa6419;
    // 辅助色
    --nut-help-color: #f5f5f5;
    // 标题常规文字
    --nut-title-color: #1a1a1a;
    // 副标题
    --nut-title-color2: #666666;
    // 次内容
    --nut-text-color: #808080;
    // 特殊禁用色
    --nut-disable-color: #cccccc;
    --nut-white: #fff;
    --nut-black: #000;
    --nut-required-color: #fa2c19;
    // 暗黑模式下颜色
    --nut-dark-background: #131313;
    --nut-dark-background2: #1b1b1b;
    --nut-dark-background3: #141414;
    --nut-dark-background4: #323233;
    --nut-dark-background5: #646566;
    --nut-dark-background6: #380e08;
    --nut-dark-background7: #707070;
    --nut-dark-color: var(--nut-white);
    --nut-dark-color2: #f2270c;
    --nut-dark-color3: rgba(232, 230, 227, 0.8);
    --nut-dark-color-gray: var(--nut-text-color);
    --nut-dark-calendar-choose-color: rgba(227, 227, 227, 0.2);
    --nut-dark-calendar-disabled: #646566;
    // 字体
    --nut-font-family: PingFang SC, Microsoft YaHei, Helvetica, Hiragino Sans GB, SimSun, sans-serif;
    --nut-font-size-0: 20rpx;
    --nut-font-size-1: 24rpx;
    --nut-font-size-2: 28rpx;
    --nut-font-size-3: 32rpx;
    --nut-font-size-4: 36rpx;
    --nut-font-weight-bold: 400;
    --nut-font-size-small: var(--nut-font-size-1);
    --nut-font-size-base: var(--nut-font-size-2);
    --nut-font-size-large: var(--nut-font-size-3);
    --nut-line-height-base: 1.5;
    --nut-button-border-radius: 50rpx;
    --nut-button-border-width: 2rpx;
    --nut-button-icon-width: 32rpx;
    --nut-button-default-padding: 0 36rpx;
    --nut-button-mini-padding: 0 24rpx;
    --nut-button-small-padding: 0 24rpx;
    --nut-button-small-height: 56rpx;
    --nut-button-mini-height: 48rpx;
    --nut-button-default-height: 76rpx;
    --nut-button-large-height: 96rpx;
    --nut-button-large-line-height: 92rpx;
    --nut-button-small-line-height: 52rpx;
    --nut-button-block-height: 96rpx;
    --nut-button-default-line-height: 72rpx;
    --nut-button-block-line-height: 92rpx;
    --nut-cell-border-radius: 12rpx;
    --nut-cell-padding: 26rpx 32rpx;
    --nut-cell-line-height: 40rpx;
    --nut-cell-after-right: 32rpx;
    --nut-cell-after-border-bottom: 2rpx solid #f5f6f7;
    --nut-cell-default-icon-margin: 0 8rpx 0 0rpx;
    --nut-cell-large-padding: 30rpx 32rpx;
    --nut-cell-group-title-padding: 0 20rpx;
    --nut-cell-group-title-line-height: 40rpx;
    --nut-cell-group-desc-padding: 0 20rpx;
    --nut-cell-group-desc-line-height: 32rpx;
    --nut-popup-close-icon-margin: 32rpx;
    --nut-popup-border-radius: 40rpx;
    --nut-divider-margin: 32rpx 0;
    --nut-divider-line-height: 4rpx;
    --nut-divider-before-margin-right: 32rpx;
    --nut-divider-after-margin-left: 32rpx;
    --nut-divider-vertical-height: 24rpx;
    --nut-divider-vertical-top: 4rpx;
    --nut-divider-vertical-margin: 0 16rpx;
    --nut-grid-item-content-padding: 32rpx 16rpx;
    --nut-grid-item-text-margin: 16rpx;
    --nut-elevator-list-item-font-size: 24rpx;
    --nut-elevator-list-item-name-padding: 0 40rpx;
    --nut-elevator-list-item-name-height: 60rpx;
    --nut-elevator-list-item-name-line-height: 60rpx;
    --nut-elevator-list-item-code-font-size: 28rpx;
    --nut-elevator-list-item-code-padding: 0 40rpx;
    --nut-elevator-list-item-code-height: 70rpx;
    --nut-elevator-list-item-code-line-height: 70rpx;
    --nut-elevator-list-item-code-after-height: 2rpx;
    --nut-elevator-list-item-code-current-box-shadow: 0 6rpx 6rpx 2rpx rgba(240, 240, 240, 1);
    --nut-elevator-list-item-code-current-width: 90rpx;
    --nut-elevator-list-item-code-current-height: 90rpx;
    --nut-elevator-list-item-code-current-line-height: 90rpx;
    --nut-elevator-list-item-code-current-right: 120rpx;
    --nut-elevator-list-item-bars-right: 16rpx;
    --nut-elevator-list-item-bars-padding: 30rpx 0;
    --nut-elevator-list-item-bars-border-radius: 12rpx;
    --nut-elevator-list-item-bars-inner-item-padding: 6rpx;
    --nut-elevator-list-item-bars-inner-item-font-size: 20rpx;
    --nut-indicator-size: 36rpx;
    --nut-indicator-number-font-size: 20rpx;
    --nut-menu-bar-line-height: 96rpx;
    --nut-menu-title-text-padding-left: 16rpx;
    --nut-menu-title-text-padding-right: 16rpx;
    --nut-menu-item-content-padding: 24rpx 48rpx;
    --nut-menu-item-content-max-height: 428rpx;
    --nut-menu-item-option-padding-top: 24rpx;
    --nut-menu-item-option-padding-bottom: 24rpx;
    --nut-menu-item-option-i-margin-right: 12rpx;
    --nut-menu-bar-box-shadow: 0 4rpx 24rpx rgba(89, 89, 89, 0.12);
    --nut-navbar-height: 88rpx;
    --nut-navbar-margin-bottom: 40rpx;
    --nut-navbar-padding: 0 32rpx;
    --nut-navbar-box-shadow: 0 2rpx 14rpx 0 rgba(237, 238, 241, 1);
    --nut-navbar-title-width: 200rpx;
    --nut-navbar-title-icon-margin: 0 0 0 26rpx;
    --nut-pagination-item-border-width: 2rpx;
    --nut-pagination-item-border-radius: 4rpx;
    --nut-pagination-prev-next-padding: 0 22rpx;
    --nut-sidenavbar-sub-title-height: 80rpx;
    --nut-sidenavbar-sub-title-text-line-height: 80rpx;
    --nut-sidenavbar-item-height: 80rpx;
    --nut-sidenavbar-item-line-height: 80rpx;
    --nut-sidenavbar-item-font-size: 32rpx;
    --nut-tabbar-border-top: 2rpx solid #eee;
    --nut-tabbar-border-bottom: 2rpx solid #eee;
    --nut-tabbar-height: 100rpx;
    --nut-tabs-horizontal-titles-height: 92rpx;
    --nut-tabs-horizontal-titles-item-min-width: 100rpx;
    --nut-tabs-horizontal-titles-item-active-line-width: 80rpx;
    --nut-tabs-vertical-titles-item-height: 80rpx;
    --nut-tabs-vertical-titles-item-active-line-height: 28rpx;
    --nut-tabs-vertical-titles-width: 200rpx;
    --nut-tab-pane-padding: 48rpx 40rpx;
    --nut-calendar-day-font: 32rpx;
    --nut-cascader-line-height: 44rpx;
    --nut-cascader-tabs-item-padding: 0 20rpx;
    --nut-cascader-bar-padding: 48rpx 40rpx 34rpx;
    --nut-cascader-bar-line-height: 40rpx;
    --nut-cascader-item-padding: 20rpx 40rpx;
    --nut-checkbox-label-margin-left: 30rpx;
    --nut-checkbox-label-font-size: 28rpx;
    --nut-checkbox-icon-font-size: 36rpx;
    --nut-checkbox-button-padding: 10rpx 36rpx;
    --nut-checkbox-button-font-size: 24rpx;
    --nut-checkbox-button-border-radius: 30rpx;
    --nut-checkbox-margin-right: 40rpx;
    --nut-picker-bar-cancel-font-size: 28rpx;
    --nut-picker-bar-ok-font-size: 28rpx;
    --nut-picker-bar-button-padding: 0 30rpx;
    --nut-picker-bar-title-font-size: 32rpx;
    --nut-picker-item-height: 72rpx;
    --nut-picker-item-text-font-size: 28rpx;
    --nut-picker-item-active-line-border: 2rpx solid #d8d8d8;
    --nut-form-item-label-font-size: 28rpx;
    --nut-form-item-label-width: 180rpx;
    --nut-form-item-label-margin-right: 20rpx;
    --nut-form-item-required-margin-right: 8rpx;
    --nut-form-item-body-font-size: 28rpx;
    --nut-form-item-tip-font-size: 20rpx;
    --nut-input-padding: 20rpx 50rpx;
    --nut-input-line-height: 40rpx;
    --nut-inputnumber-icon-size: 40rpx;
    --nut-inputnumber-input-width: 80rpx;
    --nut-inputnumber-input-font-size: 24rpx;
    --nut-inputnumber-input-border-radius: 8rpx;
    --nut-inputnumber-input-margin: 0 12rpx;
    --nut-numberkeyboard-header-height: 68rpx;
    --nut-numberkeyboard-header-padding: 12rpx 0 0 0;
    --nut-numberkeyboard-header-font-size: 32rpx;
    --nut-numberkeyboard-header-close-padding: 0 32rpx;
    --nut-numberkeyboard-header-close-font-size: 28rpx;
    --nut-numberkeyboard-key-height: 96rpx;
    --nut-numberkeyboard-key-border-radius: 16rpx;
    --nut-numberkeyboard-key-font-size: 56rpx;
    --nut-numberkeyboard-key-finish-font-size: 32rpx;
    --nut-picker-bar-cancel-font-size: 28rpx;
    --nut-picker-bar-ok-font-size: 28rpx;
    --nut-picker-bar-button-padding: 0 30rpx;
    --nut-picker-bar-title-font-size: 32rpx;
    --nut-picker-item-height: 72rpx;
    --nut-picker-item-text-font-size: 28rpx;
    --nut-picker-item-active-line-border: 2rpx solid #d8d8d8;
    --nut-radio-label-margin-left: 30rpx;
    --nut-radio-button-border-radius: 30rpx;
    --nut-radio-label-font-size: 28rpx;
    --nut-radio-button-font-size: 24rpx;
    --nut-radio-button-padding: 10rpx 36rpx;
    --nut-range-bar-btn-width: 48rpx;
    --nut-range-bar-btn-height: 48rpx;
    --nut-range-bar-btn-border: 2rpx solid var(--nut-primary-color);
    --nut-searchbar-padding: 18rpx 32rpx;
    --nut-searchbar-input-padding: 0 0 0 26rpx;
    --nut-searchbar-input-height: 64rpx;
    --nut-searchbar-input-border-radius: 32rpx;
    --nut-searchbar-input-box-shadow: 0 0 16rpx 0 rgba(0, 0, 0, 0.04);
    --nut-uploader-picture-width: 200rpx;
    --nut-uploader-picture-height: 200rpx;
    --nut-actionsheet-item-cancel-border-top: 2rpx solid #f6f6f6;
    --nut-actionsheet-item-line-height: 48rpx;
    --nut-dialog-width: 592rpx;
    --nut-notify-padding: 24rpx 0;
    --nut-notify-font-size: 28rpx;
    --nut-notify-height: 88rpx;
    --nut-switch-width: 72rpx;
    --nut-switch-height: 42rpx;
    --nut-switch-line-height: 42rpx;
    --nut-switch-border-radius: 42rpx;
    --nut-switch-inside-width: 26rpx;
    --nut-switch-inside-height: 26rpx;
    --nut-toast-inner-padding: 48rpx 60rpx;
    --nut-toast-inner-border-radius: 24rpx;
    --nut-avatar-square: 10rpx;
    --nut-avatar-large-width: 120rpx;
    --nut-avatar-large-height: 120rpx;
    --nut-avatar-small-width: 64rpx;
    --nut-avatar-small-height: 64rpx;
    --nut-avatar-normal-width: 80rpx;
    --nut-avatar-normal-height: 80rpx;
    --nut-badge-border-radius: 28rpx;
    --nut-badge-icon-padding: 8rpx;
    --nut-badge-padding: 0 10rpx;
    --nut-badge-dot-width: 14rpx;
    --nut-badge-dot-height: 14rpx;
    --nut-badge-dot-border-radius: 14rpx;
    --nut-collapse-item-padding: 26rpx 72rpx 26rpx 52rpx;
    --nut-collapse-item-line-height: 48rpx;
    --nut-collapse-wrapper-content-padding: 24rpx 52rpx;
    --nut-collapse-wrapper-empty-content-padding: 0 52rpx;
    --nut-empty-padding: 64rpx 0;
    --nut-empty-image-size: 340rpx;
    --nut-empty-description-margin-top: 8rpx;
    --nut-empty-description-font-size: 28rpx;
    --nut-empty-description-line-height: 40rpx;
    --nut-empty-description-padding: 0 80rpx;
    --nut-loadingpage-icon-margin-bottom: 20rpx;
    --nut-noticebar-font-size: 28rpx;
    --nut-noticebar-across-height: 80rpx;
    --nut-noticebar-across-line-height: 48rpx;
    --nut-noticebar-box-padding: 0 32rpx;
    --nut-noticebar-wrapable-padding: 32rpx;
    --nut-noticebar-lefticon-margin: 0px 20rpx;
    --nut-noticebar-righticon-margin: 0px 20rpx;
    --nut-popover-menu-item-padding: 16rpx 0;
    --nut-popover-menu-item-margin: 0 16rpx;
    --nut-price-symbol-big-size: 36rpx;
    --nut-price-big-size: 48rpx;
    --nut-price-decimal-big-size: 36rpx;
    --nut-price-symbol-medium-size: 28rpx;
    --nut-price-medium-size: 32rpx;
    --nut-price-decimal-medium-size: 28rpx;
    --nut-price-symbol-small-size: 20rpx;
    --nut-price-small-size: 24rpx;
    --nut-price-decimal-small-size: 20rpx;
    --nut-progress-outer-border-radius: 24rpx;
    --nut-progress-insidetext-border-radius: 10rpx;
    --nut-progress-insidetext-padding: 6rpx 10rpx 6rpx 12rpx;
    --nut-progress-small-height: 10rpx;
    --nut-progress-small-text-font-size: 14rpx;
    --nut-progress-small-text-line-height: 20rpx;
    --nut-progress-small-text-padding: 4rpx 8rpx;
    --nut-progress-base-height: 20rpx;
    --nut-progress-base-text-font-size: 18rpx;
    --nut-progress-base-text-line-height: 26rpx;
    --nut-progress-large-height: 30rpx;
    --nut-progress-large-text-font-size: 26rpx;
    --nut-progress-large-text-line-height: 36rpx;
    --nut-progress-large-text-padding: 6rpx 10rpx 6rpx 12rpx;
    --nut-steps-base-icon-width: 50rpx;
    --nut-steps-base-icon-height: 50rpx;
    --nut-steps-base-icon-line-height: 50rpx;
    --nut-steps-base-icon-font-size: 26rpx;
    --nut-steps-base-title-font-size: 28rpx;
    --nut-steps-base-title-margin-bottom: 20rpx;
    --nut-steps-base-content-font-size: 28rpx;
    --nut-swiper-pagination-item-width: 16rpx;
    --nut-swiper-pagination-item-height: 6rpx;
    --nut-swiper-pagination-item-margin-right: 14rpx;
    --nut-swiper-pagination-item-border-radius: 4rpx;
    --nut-table-cols-padding: 20rpx;
    --nut-tag-padding: 0 8rpx;
    --nut-tag-font-size: 24rpx;
    --nut-tag-border-width: 2rpx;
    --nut-tag-default-border-radius: 8rpx;
    --nut-tag-round-border-radius: 16rpx;
    --nut-tag-mark-border-radius: 0 24rpx 24rpx 0;
    --nut-trendarrow-font-size: 28rpx;
    --nut-trendarrow-before-icon-margin: 8px;
    --nut-address-header-title-font-size: 36rpx;
    --nut-address-region-tab-font-size: 26rpx;
    --nut-address-item-margin-right: 18rpx;
    --nut-addresslist-font-size: 32rpx;
    --nut-addresslist-addr-font-size: 24rpx;
    --nut-invoice-padding: 20rpx 20rpx 40rpx;
    --nut-sku-item-border: 2rpx solid var(--nut-primary-color);
    --nut-sku-spec-height: 60rpx;
    --nut-sku-spec-font-size: 22rpx;
    --nut-sku-spec-margin-right: 24rpx;
    --nut-sku-spec-padding: 0 36rpx;
    --nut-sku-spec-title-font-size: 26rpx;
    --nut-sku-spec-title-margin-bottom: 36rpx;
    --nut-sku-operate-btn-height: 108rpx;
    --nut-sku-operate-btn-item-height: 80rpx;
    --nut-sku-operate-btn-item-font-size: 30rpx;
    --nut-sku-product-img-width: 200rpx;
    --nut-timeselect-title-height: 100rpx;
    --nut-timeselect-title-line-height: 100rpx;
    --nut-timeselect-timepannel-width: 280rpx;
    --nut-timeselect-timepannel-height: 80rpx;
    --nut-timeselect-timepannel-padding: 30rpx;
    --nut-timeselect-timedetail-padding: 0 10rpx 100rpx 26rpx;
    --nut-timeselect-timedetail-item-width: 200rpx;
    --nut-timeselect-timedetail-item-height: 100rpx;
    --nut-timeselect-timedetail-item-line-height: 100rpx;
    --nut-timeselect-timedetail-item-border-radius: 10rpx;
    
}